<!DOCTYPE html>
<html>
  <head>
    <title>Basic File Upload</title>
    <script src="/assets/client.js"></script>
  </head>
    
  <body>
    <html>
  <body>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form> 
    
    <form ref='retrieveForm' 
      id='retrieveForm' 
      action='/retrieve' 
      method='get'>
      <label for='fileName'>Retrieve File By ID: </label>
      <input name='_id' type='text' />
      <input type='submit' value='Retrieve!' />
    </form>

    <section id="messages"></section>
  </body>
</html>
  </body>
</html>
